<div class="surface-section px-1 pt-5 md:px-2 lg:px-2">
    <div class="flex justify-content-between  pb-4 border-bottom-1 surface-border">
        <div class="flex align-items-center">
            <i class="pi pi-users text-2xl mr-3 text-500"></i>
            <span class="text-2xl font-medium text-900">Individuals</span>
        </div>
        <div class="mt-3 md:mt-0">
            <button pButton pRipple class="p-button-sm p-button-raised p-button-rounded p-button-outlined" label="" icon="pi pi-plus"></button>
        </div>
    </div>
</div>

<!-- <div class="px-1 pt-5 pb-2 md:px-6 lg:px-8 flex justify-content-end view-type">
    <span *ngIf="viewType == 'GRID'">
        <a pRipple (click)="changeView('LIST')"><i class="pi pi-table text-2xl mr-3 text-500"></i></a>
    </span>
    <span *ngIf="viewType == 'LIST'">
        <a pRipple (click)="changeView('GRID')"><i class="pi pi-list text-2xl mr-3 text-500"></i></a>
    </span>
</div> -->

<div class="px-1 md:px-2 lg:px-2">
    <div class="hidden lg:inline" >
        <p-table 
            [value]="data"
            [columns]="configuration?.columns"
            [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]" responsiveLayout="scroll">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{col.label}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr class="content-row">
                    <td *ngFor="let col of columns">
                        {{rowData[col.id]}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="xs:inline sm:inline md:inline lg:hidden xl:hidden">
        <p-dataView [value]="data" layout="list">
            <ng-template let-item pTemplate="listItem">
                <div class="col-12 py-4">
                    <div class="flex">
                        <div class="flex-grow-1">
                            {{ item.firstname }} {{ item.lastname }}
                            <br>
                            <small>{{ item.individualType }}</small>
                        </div>
                        <div class="flex-grow-0">
                            <a pRipple ><i class="pi pi-angle-right text-2xl mr-3 text-500"></i></a>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-dataView>
    </div>
</div>