<div class="surface-section px-1 pt-5 md:px-2 lg:px-2">
    <div class="flex justify-content-between  pb-4">
        <div class="flex align-items-center">
            <i class="pi pi-users text-base mr-3 text-500"></i>
            <span class="text-base font-medium text-900">Create Individual</span>
        </div>
        <div class="flex align-items-center">
            <div class="mr-3">
                <button  (click)="navigateBackToList()" pButton pRipple class="p-button-sm p-button-raised p-button-outlined" label="" icon="pi pi-times"></button>
            </div>
            <div>
                <button (click)="submitForm()" pButton pRipple class="p-button-sm p-button-raised p-button-outlined" label="" icon="pi pi-check"></button>
            </div>            
        </div>
    </div>
</div>

<p-tabView [formGroup]="createForm">
    <p-tabPanel header="Personal">
        <div class="grid">
            <div class="xl:col-6 col-12 formgrid p-fluid">
                <div class="field mb-4 col-12">
                    <label for="firstname" class="font-medium text-900 required">First Name</label>
                    <input formControlName="firstname" id="firstname" type="text" pInputText>
                </div>
            </div>
            <div class="xl:col-6 col-12 formgrid p-fluid">
                <div class="field mb-4 col-12">
                    <label for="lastname" class="font-medium text-900 required">Last Name</label>
                    <input formControlName="lastname" id="lastname" type="text" pInputText>
                </div>
            </div>
            <div class="xl:col-6 col-12 formgrid p-fluid">
                <div class="field mb-4 col-12">
                    <label for="email" class="font-medium text-900">Email</label>
                    <input formControlName="email" id="email" type="text" pInputText>
                </div>
            </div>
            <div class="xl:col-6 col-12 formgrid p-fluid">
                <div class="field mb-4 col-12">
                    <label for="address" class="font-medium text-900">Address</label>
                    <input formControlName="address" id="address" type="text" pInputText>
                </div>
            </div>
            <div class="xl:col-6 col-12 formgrid p-fluid">
                <div class="field mb-4 col-12">
                    <label for="phone" class="font-medium text-900">Phone Number</label>
                    <p-inputMask id="phone" formControlName="phone" mask="(999) 999-9999" slotChar=" "></p-inputMask>
                </div>
            </div>
            <div class="xl:col-6 col-12 formgrid p-fluid">
                <div class="field mb-4 col-12">
                    <label for="fbirth" class="font-medium text-900">Birthday</label>
                    <p-inputMask formControlName="birthday" mask="99/99/9999" slotChar=" "></p-inputMask>
                </div>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Family">
        <div class="flex align-items-center justify-content-start pb-4">
            <span class="flex-grow-1 text-base font-medium text-900"></span>
            <button (click)="addNewFamily()" pButton pRipple class="p-button-sm p-button-raised p-button-outlined" icon="pi pi-plus"></button>
        </div>
        <p-accordion
            [multiple]="true"
            [activeIndex]="activeFamilyIndex"
            formArrayName="family">
            <p-accordionTab *ngFor="let item of family?.controls; let i=index;"
                 header="{{item.controls['firstname']?.value}} {{ item.controls['lastname']?.value }}"
                 [formGroup]="item">
                 <ng-template pTemplate="header">
                    <button *ngIf="family?.controls?.length > 1" (click)="deleteFamilyItem(i)" pButton class="p-panel-header-icon p-link">
                        <span class="pi pi-trash"></span>
                    </button>
                </ng-template>
                <div class="grid">
                    <div class="xl:col-6 col-12 formgrid p-fluid">
                        <div class="field mb-4 col-12">
                            <label for="ffirstname" class="font-medium text-900">First Name</label>
                            <input formControlName="firstname" id="ffirstname" type="text" pInputText>
                        </div>
                    </div>
                    <div class="xl:col-6 col-12 formgrid p-fluid">
                        <div class="field mb-4 col-12">
                            <label for="flastname" class="font-medium text-900">Last Name</label>
                            <input formControlName="lastname" id="flastname" type="text" pInputText>
                        </div>
                    </div>
                    <div class="xl:col-6 col-12 formgrid p-fluid">
                        <div class="field mb-4 col-12">
                            <label for="agerange" class="font-medium text-900">Age Range</label>
                            <p-multiSelect id="agerange" formControlName="ageRange" optionValue="value" [showHeader]="false" [options]="ageRangeOptions" selectionLimit="1" optionLabel="label"></p-multiSelect>
                        </div>
                    </div>
                    <div class="xl:col-6 col-12 formgrid p-fluid">
                        <div class="field mb-4 col-12">
                            <label for="fbirth" class="font-medium text-900">Birthday</label>
                            <p-inputMask formControlName="birthday" mask="99/99/9999" slotChar=" "></p-inputMask>
                        </div>
                    </div>
                    <div class="xl:col-6 col-12 formgrid p-fluid">
                        <div class="field mb-4 col-12">
                            <label for="fbirth" class="font-medium text-900">Relationship</label>
                            <p-multiSelect id="holyGhost" formControlName="relationship" optionValue="value" [showHeader]="false" [options]="relationshipOptions" selectionLimit="1" optionLabel="label"></p-multiSelect>
                        </div>
                    </div>
                </div>
            </p-accordionTab>
        </p-accordion>
    </p-tabPanel>
    <p-tabPanel header="Other">
        <div class="grid">
            <div class="xl:col-6 col-12 formgrid p-fluid">
                <div class="field mb-4 col-12">
                    <label for="firstTime" class="font-medium text-900">First Time Guest</label>
                    <p-multiSelect id="firstTime" formControlName="firstTime" optionValue="value" [showHeader]="false" [options]="truefalseOptions" selectionLimit="1" optionLabel="label"></p-multiSelect>
                </div>
            </div>
            <div class="xl:col-6 col-12 formgrid p-fluid">
                <div class="field mb-4 col-12">
                    <label for="baptized" class="font-medium text-900">Baptized</label>
                    <p-multiSelect id="baptized" formControlName="baptized" optionValue="value" [showHeader]="false" [options]="truefalseOptions" selectionLimit="1" optionLabel="label"></p-multiSelect>
                </div>
            </div>
            <div class="xl:col-6 col-12 formgrid p-fluid">
                <div class="field mb-4 col-12">
                    <label for="holyGhost" class="font-medium text-900">Holy Ghost</label>
                    <p-multiSelect id="holyGhost" formControlName="holyGhost" optionValue="value" [showHeader]="false" [options]="truefalseOptions" selectionLimit="1" optionLabel="label"></p-multiSelect>
                </div>
            </div>
            <div class="xl:col-6 col-12 formgrid p-fluid">
                <div class="field mb-4 col-12">
                    <label for="connectedWith" class="font-medium text-900">Connected with</label>
                    <p-multiSelect id="connectedWith" formControlName="connectedWith" optionValue="value" [options]="individualsOptions"  optionLabel="label"></p-multiSelect>
                </div>
            </div>
            <div class="xl:col-12 col-12 formgrid p-fluid">
                <div class="field mb-4 col-12">
                    <label for="notes" class="font-medium text-900">Notes</label>
                    <textarea id="notes" formControlName="notes" [rows]="5" [cols]="30" pInputTextarea [autoResize]="false"></textarea>
                </div>
            </div>
        </div>
    </p-tabPanel>
</p-tabView>

