<div class="container" [formGroup]="acceptInviteForm">
    <div class="grid form">
        <div class="col-12 md:col-6 lg:col-6 md:col-offset-3 lg:col-offset-3">
            <p-card>
                <div class="field">
                    <label for="firstname1">Password</label>
                    <input formControlName="password" id="firstname1" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                </div>
                <div class="field">
                    <label for="lastname1">Confirm Password</label>
                    <input formControlName="confirmPassword" id="lastname1" type="password" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                </div>

                <button pButton type="button" class="p-button-raised p-button-rounded" (click)="submit()">Submit</button>
            </p-card>
        </div>
    </div>
</div>
